alexa_media.info@oudenes.photography.pickle
secrets.yaml
ip_bans.yaml
google_calendars.yaml
entity_registry.yaml
known_devices.yaml
.homekit.state
.google.token
.storage
.DS_Store
._.DS_Store
cox_usage.json
cox_usage.py
*.pyc
*.log
*.db
*.conf
*.xml
*.json
*.sqlite
*.csr
*.crt
*.key
*.pem
*.txt
*.sh 
*.jpg
ozw_config/
tts/
dept/
www/
