core
home-assistant_v2.db
home-assistant.log
alexa_media.info@oudenes.photography.pickle
secrets.yaml
http.yaml
ip_bans.yaml
google_calendars.yaml
entity_registry.yaml
known_devices.yaml
.homekit.state
.google.token
.storage
!storage/lovelace
.DS_Store
._.DS_Store
cox_usage.json
cox_usage.py
*.pyc
*.log
*.db
*.conf
*.xml
*.sqlite
*.csr
*.crt
*.key
*.pem
*.txt
*.sh 
*.jpg
ozw_config/
tts/
dept/
www/
config/automation/test/
custom_components/hacs/
node-red/
